<div class="create-qr-page background-image">
  <app-header></app-header>

  <div class="top-content">
    <div class="flex">
      <img src="/img/return-button.svg" alt="return-button.svg" class="return-button" [routerLink]="['/pairs']">
      <h2 class="title">QR код для отзыва</h2>
    </div>
  </div>

  <div class="main-content">
    <div class="left-content">
      <h3 class="pair-name" *ngIf="setting">{{selectedSubject}}</h3>

      <div class="settings-on-container">
        <div class="pair-info-container" *ngIf="setting">
          <div class="pair-info">
            <div class="pair-info-time">
              <h3 class="pair-info-title">Время проведения</h3>
              <div class="time-range-container">
                <div class="time-start">
                  <h4 class="time-title">Начало</h4>
                  <div class="time"><span>{{selectedDate + ' ' + formatDate(selectedDate) + ' ' +
                      selectedStartTime}}</span></div>
                </div>
                <div class="time-end">
                  <h4 class="time-title">Завершение</h4>
                  <div class="time"><span>{{selectedDate + ' ' + formatDate(selectedDate) + ' ' +
                      selectedEndTime}}</span></div>
                </div>
              </div>
            </div>
            <div class="pair-info-place">
              <h3 class="pair-info-title">Место проведения</h3>
              <div><span>{{selectedAddress}}</span></div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!setting" class="create-container">
        <!-- Предмет -->
        <div class="row subject">
          <h3 class="row-title">Предмет</h3>
          <div class="custom-select-container">
            <div class="custom-select" (click)="toggleDropdown('subject')">
              <span class="placeholder" *ngIf="!selectedSubject">Выберите предмет</span>
              <div class="selected-value-container">
                <span class="selected-value" *ngIf="selectedSubject">{{ selectedSubject }}</span>
              </div>
              <img src="/img/dropdown-icon.svg" alt="dropdown-icon" class="dropdown-icon"
                [class.rotated]="isDropdownOpen['subject']" />
            </div>
            <div class="dropdown-list" *ngIf="isDropdownOpen['subject']">
              <div class="dropdown-items-container">
                <div class="dropdown-item" *ngFor="let subject of subjects" (click)="selectOption('subject', subject)">
                  {{ subject }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Время проведения -->
        <div class="row time-range">
          <h3 class="row-title">Время проведения</h3>
          <div class="time-select-container">
            <div class="custom-select time-select" (click)="toggleDropdown('startTime')">
              <span class="placeholder" *ngIf="!selectedStartTime">Выберите время начала пары</span>
              <div class="selected-value-container">
                <span class="selected-value" *ngIf="selectedStartTime">{{ selectedStartTime }}</span>
              </div>
              <img src="/img/dropdown-icon.svg" alt="dropdown-icon" class="dropdown-icon"
                [class.rotated]="isDropdownOpen['startTime']" />
            </div>
            <div class="dropdown-list" *ngIf="isDropdownOpen['startTime']">
              <div class="dropdown-items-container">
                <div class="dropdown-item" *ngFor="let time of startTimes" (click)="selectOption('startTime', time)">
                  {{ time }}
                </div>
              </div>
            </div>
          </div>
          <div class="time-select-container">
            <div class="custom-select time-select" (click)="toggleDropdown('endTime')">
              <span class="placeholder" *ngIf="!selectedEndTime">Выберите время окончания пары</span>
              <div class="selected-value-container">
                <span class="selected-value" *ngIf="selectedEndTime">{{ selectedEndTime }}</span>
              </div>
              <img src="/img/dropdown-icon.svg" alt="dropdown-icon" class="dropdown-icon"
                [class.rotated]="isDropdownOpen['endTime']" />
            </div>
            <div class="dropdown-list" *ngIf="isDropdownOpen['endTime']">
              <div class="dropdown-items-container">
                <div class="dropdown-item" *ngFor="let time of endTimes" (click)="selectOption('endTime', time)">
                  {{ time }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Дата проведения -->
        <div class="row date-picker">
          <h3 class="row-title">Дата проведения</h3>
          <input type="date" class="custom-input date-input" [placeholder]="selectedDate ? '' : 'Выберите дату'"
            [(ngModel)]="selectedDate" />
        </div>
        <!-- Формат -->
        <div class="row format">
          <h3 class="row-title">Формат</h3>
          <div class="radio-buttons">
            <label>
              <img [src]="selectedFormat === 'Очное' ? '/img/active-radio.svg' : '/img/disable-radio.svg'"
                alt="radio" />
              <input type="radio" name="format" [(ngModel)]="selectedFormat" [value]="'Очное'" />
              Очно
            </label>
            <label>
              <img [src]="selectedFormat === 'Онлайн' ? '/img/active-radio.svg' : '/img/disable-radio.svg'"
                alt="radio" />
              <input type="radio" name="format" [(ngModel)]="selectedFormat" [value]="'Онлайн'" />
              Онлайн
            </label>
          </div>
        </div>
        <!-- Адрес -->
        <div class="row address">
          <h3 class="row-title">Адрес</h3>
          <div class="custom-select-container">
            <div class="custom-select" (click)="toggleDropdown('address')">
              <span class="placeholder" *ngIf="!selectedAddress">Выберите адрес</span>
              <div class="selected-value-container">
                <span class="selected-value" *ngIf="selectedAddress">{{ selectedAddress }}</span>
              </div>
              <img src="/img/dropdown-icon.svg" alt="dropdown-icon" class="dropdown-icon"
                [class.rotated]="isDropdownOpen['address']" />
            </div>
            <div class="dropdown-list" *ngIf="isDropdownOpen['address']">
              <div class="dropdown-items-container">
                <div class="dropdown-item" *ngFor="let address of addresses" (click)="selectOption('address', address)">
                  {{ address }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Институт -->
        <div class="row institute">
          <h3 class="row-title">Институт</h3>
          <div class="custom-select-container">
            <div class="custom-select" (click)="toggleDropdown('institute')">
              <span class="placeholder" *ngIf="!selectedInstitute">Выберите институт</span>
              <div class="selected-value-container">
                <span class="selected-value" *ngIf="selectedInstitute">{{ selectedInstitute }}</span>
              </div>
              <img src="/img/dropdown-icon.svg" alt="dropdown-icon" class="dropdown-icon"
                [class.rotated]="isDropdownOpen['institute']" />
            </div>
            <div class="dropdown-list" *ngIf="isDropdownOpen['institute']">
              <div class="dropdown-items-container">
                <div class="dropdown-item" *ngFor="let institute of institutes"
                  (click)="selectOption('institute', institute)">
                  {{ institute }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="small-button transparent-button redirect-to-form-button"><span>Перейти к форме
          отзыва</span></button>

      <div class="time-picker-container">
        <h3 class="time-picker-title">Выберите время, на которое ссылка станет рабочей</h3>
        <div class="time-picker-main-container">
          <!-- Часы -->
          <div class="hours-container">
            <p class="main-text time-picker-text">Час.</p>
            <div class="hours-picker time-picker">
              <div class="navigation-left navigation" (click)="decreaseHours()">
                <img src="/img/navigation-button-left.svg" alt="navigation-button-left.svg">
              </div>
              <p class="time-value">{{ hours }}</p>
              <div class="navigation-right navigation" (click)="increaseHours()">
                <img src="/img/navigation-button-right.svg" alt="navigation-button-right.svg">
              </div>
            </div>
          </div>

          <!-- Минуты -->
          <div class="minutes-container">
            <p class="main-text time-picker-text">Мин.</p>
            <div class="minutes-picker time-picker">
              <div class="navigation-left navigation" (click)="decreaseMinutes()">
                <img src="/img/navigation-button-left.svg" alt="navigation-button-left.svg">
              </div>
              <p class="time-value">{{ minutes }}</p>
              <div class="navigation-right navigation" (click)="increaseMinutes()">
                <img src="/img/navigation-button-right.svg" alt="navigation-button-right.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="blue-button small-button">Временно включить ссылку</button>
    </div>
    <div class="right-content">
      <div class="qr-img-container" *ngIf="qrCodeImage"><img [src]="qrCodeImage" alt="qr-img" class="qr-img" /></div>
      <button class="blue-button small-button save-img-button">Скачать изображение</button>
      <div class="copy-link-container">
        <a class="copy-link">Скопировать ссылку</a>
        <img src="img/copy-icon.svg" alt="">
      </div>
    </div>

  </div>
</div>
