.top-content {
  margin-top: 34px;
  margin-bottom: 62px;
}

.title {
  margin-left: 67px;
  color: #0F2B5E;
  padding-top: 6px;
  line-height: 48px;
}

.main-content {
  display: flex;
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
}

.settings-on-container {
  margin-right: 265px;
}

.left-content .pair-name {
  color: #0F2B5E;
  margin-bottom: 60px;
}

.pair-info-container {
  max-width: 1265px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.pair-info-container .pair-info {
  width: 760px;
  display: flex;
  justify-content: space-between;
}

.pair-info-time .time-range-container {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.pair-info-container .pair-buttons {
  display: flex;
  gap: 16px;
}

.pair-info-container .pair-info-title {
  color: #0F2B5E;
  margin-bottom: 40px;
}

.time-range-container .time {
  width: 115px;
  line-height: 22px;
}

.time-range-container .time-title {
  margin-bottom: 8px;
}

.redirect-to-form-button {
  border: 2px solid #1E4391;
  margin-bottom: 60px;
}

.redirect-to-form-button span {
  color: #1E4391;
  font-weight: 600;
}

.time-picker-container {
  width: 675px;
  margin-bottom: 40px;
}

.time-picker-title {
  text-wrap: nowrap;
  color: #0F2B5E;
  margin-bottom: 40px;
}

.time-picker-container .time-picker-main-container {
  display: flex;
  gap: 16px;
}

.time-picker-text {
  margin-bottom: 8px;
}

.time-picker-main-container .time-picker {
  width: 240px;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-picker .navigation {
  width: 30px;
  height: 30px;
}

.time-picker .navigation-left {
  margin-left: 10px;
}

.time-picker .navigation-right {
  margin-right: 10px;
}

.right-content {
  display: flex;
  flex-direction: column;
}

.right-content .qr-img-container {
  margin-bottom: 35px;
}

.right-content .save-img-button {
  margin-bottom: 20px;
}

.right-content .copy-link-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}

.copy-link-container .copy-link {
  color: #1E4391;
  text-decoration: underline;
  text-underline-offset: 3px;
}




/*  */



.create-container {
  margin-right: 16px;
}

.create-container .row-title {
  color: #0F2B5E;
}

.create-container .row {
  width: 625px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

/* Поле ввода названия предмета */
.custom-input {
  position: relative;
  margin-left: auto;
  width: 368px;
  height: 64px;
  background-color: #f6f6f6;
  border-radius: 16px;
  border: none;
  padding: 0 26px 0 30px;
  font-size: 16px;
  color: #0f2b5e;
  box-sizing: border-box;
}

.custom-input::placeholder {
  color: #7a7a7a;
}

.custom-input:focus {
  outline: none;
}

/*  */

/* Основной контейнер для селекта */
.custom-select-container {
  position: relative;
  width: 368px;
  margin-left: auto;
}

/* Селект-элемент */
.custom-select {
  width: 100%;
  height: 64px;
  background-color: #F6F6F6;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 26px 0 30px;
  box-sizing: border-box;
}

/* Плейсхолдер */
.placeholder {
  color: #7A7A7A;
  font-size: 16px;
}

/* Выбранное значение */
.selected-value-container {
  background-color: rgba(59, 166, 140, 0.4);
  border-radius: 10px;
  height: 38px;
  display: flex;
  align-items: center;
}

.selected-value {
  color: #0F2B5E;
  padding: 0 8px;
}

/* Иконка дропдауна */
.dropdown-icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s;
}

.cancel-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.3s;
}

.dropdown-icon.rotated {
  transform: rotate(180deg);
}

/* Контейнер выпадающего списка */
.dropdown-list {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #F6F6F6;
  border-radius: 16px;
  z-index: 1000;
  border: 2px solid white;
}

/* Список внутри дропдауна */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 22px;
  margin-bottom: 20px;
}

.dropdown-item:hover {
  background-color: rgba(15, 43, 94, 0.1);
}

/* Контейнер строк в дропдауне */
.dropdown-items-container {
  max-height: 232px;
  margin-top: 30px;
  padding-left: 32px;
  margin-right: 30px;
  /* Отступ справа внутри контейнера */
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  /* Для контента внутри */
}

.dropdown-item.last-row {
  margin-bottom: 0;
}

/* Стили чекбокса */
.create-link-container {
  display: flex;
  align-items: center;
}

.create-link-container .row-title {}

.custom-checkbox {
  width: 30px;
  /* Размер чекбокса */
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox img {
  width: 100%;
  height: 100%;
}

.create-button {
  margin-left: auto;
  margin-right: auto;
}


/*  */

/* Для отображения выбранных преподавателей */
.selected-value-container-teacher {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* Добавляем перенос на новую строку */
  gap: 10px;
  /* Расстояние между элементами */
  max-width: 500px;
  /* Ограничиваем ширину */
  padding: 10px 0;
  /* Добавляем отступы сверху и снизу */
  box-sizing: border-box;
  /* Учитываем отступы в размере контейнера */
}

/* Стили для каждого выбранного преподавателя */
.selected-teacher {
  background-color: rgba(59, 166, 140, 0.4);
  border-radius: 10px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 8px;
  /* Увеличиваем отступы внутри блока */
  box-sizing: border-box;
  /* Учитываем отступы внутри */
}

.custom-select-teacher {
  flex-wrap: wrap;
  /* Увеличиваем высоту при переносе строк */
  min-height: 64px;
  box-sizing: border-box;
  height: auto;
  /* Высота подстраивается под содержимое */
}

.selected-teacher img.cancel-icon {
  margin-right: 5px;
  cursor: pointer;
  width: 14px;
  height: 14px;
}



/*  */

.time-select-container {
  width: 368px;
  position: relative;
}

.time-range {
  min-width: 1010px;
  display: flex;
  gap: 10px;
}

.radio-buttons {
  display: flex;
  gap: 40px;
  margin-left: 160px;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.radio-buttons img {
  width: 24px;
  height: 24px;
}

.radio-buttons input[type="radio"] {
  display: none;
}

.bottom-content {
  padding-bottom: 60px;
}

/* Затемнение фона */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Модальное окно */
.modal {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 60px 60px;
  width: 500px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1001;
  box-sizing: border-box;
  /* Модалка поверх затемнения */
}


.title-text {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  color: #0F2B5E;
  font-weight: 800;
}