<div class="subjects-page background-image">

  <app-header></app-header>

  <div class="top-content">
    <div class="top-left-content">
      <img src="/img/return-button.svg" alt="return-button.svg" class="return-button">
      <h2 class="subject-title">Предметы</h2>
    </div>
    <div class="top-right-content">
      <div class="search-bar">
        <img src="/img/search-icon.svg" alt="search-icon" class="search-icon">
        <input type="text" placeholder="Введите название предмета" class="search-input" [(ngModel)]="searchTerm">
      </div>
      <div class="filters">
        <button class="filter">
          <h4 class="filter-text">Фильтр 1</h4>
          <img src="/img/dropdown-filter.svg" alt="dropdown-filter">
        </button>
        <button class="filter">
          <h4 class="filter-text">Фильтр 2</h4>
          <img src="/img/dropdown-filter.svg" alt="dropdown-filter">
        </button>
        <button class="filter">
          <h4 class="filter-text">Фильтр 3</h4>
          <img src="/img/dropdown-filter.svg" alt="dropdown-filter">
        </button>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="columns">
      <h4>Название</h4>
      <h4>Место проведения</h4>
    </div>
    <div class="table-container">
      <div class="table-content">
        <!-- Вторая строка с длинным названием предмета -->
        <div *ngFor="let row of filteredRows">
          <div class="table-row">
            <div class="column-subject main-text">{{row.subject}}</div>
            <div class="column-address main-text">{{row.address}}</div>
            <div class="column-details">
              <button class="details-button main-text">Подробнее</button>
              <img src="/img/info-icon.svg" alt="info-icon" class="info-icon">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <button class="small-button red-button add-subject-button"><span>Добавить предмет</span></button>

</div>
