<div class="subjects-page background-image">

  <app-header></app-header>

  <div class="top-content">
    <div class="top-left-content">
      <img src="/img/return-button.svg" alt="return-button.svg" class="return-button" [routerLink]="['/main']">
      <h2 class="subject-title">Предметы</h2>
    </div>
    <div class="top-right-content">
      <div class="search-bar">
        <img src="/img/search-icon.svg" alt="search-icon" class="search-icon" (click)="onSearchClick()">
        <!-- Запрос по клику -->
        <input type="text" placeholder="Введите название предмета" class="search-input" [(ngModel)]="searchTerm"
          (keydown)="onKeyPress($event)"> <!-- Запрос по нажатию Enter -->
      </div>
      <div class="filters">
        <button class="filter">
          <h4 class="filter-text">Фильтр 1</h4>
          <img src="/img/dropdown-filter.svg" alt="dropdown-filter">
        </button>
        <button class="filter">
          <h4 class="filter-text">Фильтр 2</h4>
          <img src="/img/dropdown-filter.svg" alt="dropdown-filter">
        </button>
        <button class="filter">
          <h4 class="filter-text">Фильтр 3</h4>
          <img src="/img/dropdown-filter.svg" alt="dropdown-filter">
        </button>
      </div>
    </div>
  </div>

  <div class="table-container">
    <div class="table-header">
      <h4 class="column subject">Название</h4>
      <h4 class="column time">Место проведения</h4>
    </div>

    <div class="no-results" *ngIf="rows.length === 0">
      Ничего не найдено
    </div>

    <!-- Таблица и её строки -->
    <div *ngFor="let row of rows" class="table-row" [routerLink]="['/subject', row.course_id]">
      <!-- Содержимое строки -->
      <span class="cell subject">{{ row.name }}</span>
      <span class="cell place">{{ row.address }}</span>
      <div class="cell actions">
        <div class="rating-container" *ngIf="row.rating" [ngClass]="{
               'high-rating': row.rating > 3.5,
               'medium-rating': row.rating > 2.0 && row.rating <= 3.5,
               'low-rating': row.rating <= 2.0
             }">
          <h4 class="rating">{{ row.rating.toFixed(1) }}</h4>
          <img src="/img/white-rating-star.svg" alt="white-rating-star.svg" class="rating-img">
        </div>
        <img src="/img/delete-icon.svg" alt="delete-icon.svg" class="icon">
        <img src="/img/edit-icon.svg" alt="edit-icon.svg" class="icon" [routerLink]="['/edit/subject', row.course_id]">
        <button class="blue-button reviews-button"><span class="reviews-text main-text">Отзывы</span></button>
      </div>
    </div>

    <!-- Пагинация -->
    <div class="pagination" *ngIf="rows && rows.length > 5">
      <button (click)="goToPreviousPage()" [disabled]="currentPage === 0">
        <img src="/img/pagination-button.svg" alt="Previous Page" class="pagination-arrow left-arrow">
      </button>
      <span class="pagination-info main-text">{{ currentPage + 1 }} из {{ totalPages }}</span>
      <button (click)="goToNextPage()" [disabled]="currentPage === totalPages - 1">
        <img src="/img/pagination-button.svg" alt="Next Page" class="pagination-arrow right-arrow">
      </button>
    </div>
  </div>

</div>
