.background-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/img/lines.svg');
  background-color: #1E4391;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header {
  height: 128px;
  width: 100%;
}

.title-first-page {
  margin-top: 100px;
}

.third-title {
  margin-top: 19px;
}

.black-center-text {
  color: black;
  text-align: center;
}

.hello {
  margin-top: 117px;
  margin-bottom: 63px;
}

.second-page-titles {
  text-align: center;
  padding-top: 30px;
}

.form {
  width: 752px;
  height: 449px;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 80px;
}

.enter-text {
  padding-top: 25px;
  margin-bottom: 60px;
}

.input-center {
  text-align: center;
}

.password-container {
  margin-bottom: 8px;
}

.forgot-password {
  margin-left: 130px;
  color: #1E4391;
}

.left-circle {
  width: 42.1875vw;
  height: 42.1875vw;
  background-color: #74F9FD;
  border-radius: 50%;
  filter: blur(10vw);
  position: absolute;
  /* Позиционирование по отношению к экрану */
  left: -255px;
  /* Половина ширины круга (675/2), чтобы половина была за экраном */
  top: 40%;
  transform: translateY(-50%);
}

.right-circle {
  width: 42.1875vw;
  height: 42.1875vw;
  background-color: #74F9FD;
  border-radius: 50%;
  filter: blur(10vw);
  position: absolute;
  right: -255px;
  bottom: -250px;
}

.title-second-page {
  font-size: 40px;
}

.eye {
  position: absolute;
  right: 140px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-container {
  position: relative;
}

.user-name-container {
  margin-bottom: 20px;
}

.red {
  color: red;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 145px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s ease;
  color: #7A7A7A;
}

.main-top-content {
  position: relative;
}

.error-text {
  position: absolute;
  color: #EF302B;
  text-align: center;
  top: 85px;
  /* Задайте положение между заголовком и первым полем */
  left: 47%;
  transform: translateX(-50%);
  width: 100%;
}

.enter-button {
  margin-top: 40px;
}

.center-button {
  margin-left: auto;
  margin-right: auto;
}
