.main-page {
  margin-top: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  /* Расположение детей по вертикали */
}

.rating-and-notifications-container {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 1520px;
}

.rating-and-notifications-container .generate-button {
  gap: 19px;
}

.rating-and-notifications-container .rating-row {
  color: #0F2B5E;
  width: 567px;
  justify-content: space-between;
  line-height: 22.4px;
}

.rating-and-notifications-container .week-rating-row {
  margin-bottom: 31px;
}

.rating-and-notifications-container .criteria-rating-row {
  margin-bottom: 22px;
}

.rating-and-notifications-container .criteria-rating-row.last-row {
  margin-bottom: 0;
}

.rating-and-notifications-container .rating-buttons-container {
  margin-top: auto;
  gap: 79px;
}

.rating-and-notifications-container .notifications-container {
  width: 750px;
  height: 380px;
  border-radius: 20px;
  background-color: rgba(233, 132, 70, 0.4);
  /* Полупрозрачный фон */
}

.rating-and-notifications-container .rating-stars {
  margin-right: 8px;
}

.rating-and-notifications-container .rating {
  width: 24px;
}

.rating-container {
  align-items: center;
}

.notifications-container .notifications-title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
}

.notifications-container .notification {
  margin-bottom: 32px;
}

.notifications-container .last-notification {
  margin-bottom: 28px;
}

.notifications-container {
  display: flex;
  flex-direction: column;
}

.notifications-container .watch-all-notifications-button {
  width: 224px;
  height: 56px;
  border-radius: 16px;
  background-color: #E98446;
  margin: 0 auto;
  margin-top: auto;
  opacity: 100%;
  margin-bottom: 23px;
}

.notifications-container .notification-text {
  line-height: 22.4px;
  padding-left: 30px;
  padding-right: 30px;
}

.watch-all-notifications-button-text {
  font-weight: 600;
  font-size: 14px;
}

.notifications-container .notification-redirect {
  color: #1E4391;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.rating-stars {
  display: flex;
  gap: 4px;
  /* Отступы между звездами */
}

/* --------------------------------------------- */
/* РАСПИСАНИЕ */
.schedule {
  width: 1520px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 32px;
}

.schedule-container {
  height: 578px;
  justify-content: space-between;
}

.schedule-container .schedule-column {
  display: flex;
  flex-direction: column;
  width: 496px;
  border-radius: 20px;
  background-color: #F6F6F6;
  /* Центровка текста по горизонтали */
}

.schedule-container .schedule-title {
  padding-top: 16px;
  margin-bottom: 30px;
  color: #1E4391;
  text-align: center;
}

.schedule-container .first-column {
  background-color: rgba(59, 166, 140, 0.25);
}

.schedule-container .pairs {
  margin: 0 auto;
}

.schedule-container .pair {
  line-height: 22.4px;
  margin-bottom: 20px;
}

.schedule-container .no-pairs {
  margin-top: 215px;
}

.schedule .schedule-redirect-button {
  margin-top: 20px;
  color: #1E4391;
  margin-left: auto;
  border: 2px #1E4391 solid !important;
}

.search {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  width: 1520px;
  margin-bottom: 40px;
}

.search-bar {
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 40px;
  padding-left: 64px;
}

.filter {
  gap: 12px;
  color: #222222;
}

.subjects-container {
  display: flex;
  flex-direction: column;
  width: 1520px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.subjects-container .subjects-headers {
  gap: 480px;
  margin-bottom: 20px;
  color: #0F2B5E;
  padding-left: 64px;
}

.subjects-container .table-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  min-height: 460px;
}

.subjects-container .table-row {
  display: flex;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
  height: 76px;
  margin-bottom: 20px;
  background-color: #F6F6F6;
  border-radius: 16px;
}

.subjects-container .subject-name {
  width: 320px;
  margin-right: 278px;
}

.subjects-container .place-name {
  width: 270px;
}

.subjects-container .actions {
  align-items: center;
  margin-left: auto;
}

.subjects-container .reviews-button {
  width: 164px;
  height: 56px;
  border-radius: 14px;
  font-size: 12px;
}

.subjects-container .icon {
  cursor: pointer;
  margin-right: 34px;
}

.subjects-container .icon-last {
  margin-right: 50px;
}

.rating-subject-container {
  display: flex;
  width: 67px;
  height: 32px;
  border-radius: 8px;
  background-color: #3BA68C;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
}

.rating-subject-container .rating-subject {
  padding-left: 6px;
  color: white;
}

.high-rating {
  background-color: #3BA68C;
  color: white;
}

.medium-rating {
  background-color: #E98446;
  color: white;
}

.low-rating {
  background-color: #7A7A7A;
  color: white;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 32px;
  margin-top: auto;
}

.pagination-arrow {
  cursor: pointer;
}

.pagination-info {
  font-size: 16px;
}

.pagination .left-arrow {
  transform: rotate(180deg);
}

/*  */

/* Затемнение фона */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Модальное окно */
.modal {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 60px 60px;
  width: 500px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1001;
  box-sizing: border-box;
  /* Модалка поверх затемнения */
}

/* Кнопки модального окна */
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-button {
  width: 107px;
  background-color: #3ba68c;
  border-radius: 8px;
  padding: 10px 20px;
}

.cancel-button {
  width: 107px;
  background-color: #e94a4a;
  border-radius: 8px;
  padding: 10px 20px;
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}

.cancel-icon {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 450px;
  top: 20px;
}
